name: Playwright Tests with Allure Reporting

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout repository
      - uses: actions/checkout@v4

      # 2. Setup Node
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*

      # 3. Install dependencies
      - name: Install dependencies
        run: npm ci

      # 4. Install Playwright browsers
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      # 5. Run Playwright tests with Allure reporter
      - name: Run Playwright tests (Allure)
        env:
          BASE_URL: ${{ secrets.BASE_URL }}
          SAUCEDEMO_STANDARD_USER: ${{ secrets.SAUCEDEMO_STANDARD_USER }}
          SAUCEDEMO_PASSWORD: ${{ secrets.SAUCEDEMO_PASSWORD }}
        run: |
          npx playwright test --reporter=line,allure-playwright

      # 6. Generate Allure HTML report
      - name: Generate Allure Report
        run: |
          npx allure generate allure-results --clean -o allure-report

      # 7. Upload HTML report as GitHub artifact
      - name: Upload Allure HTML Report
        uses: actions/upload-artifact@v4
        with:
          name: allure-report
          path: allure-report/
          retention-days: 30

      # 8. Add Allure Report link to GitHub Actions summary
      - name: Publish Report Link to Summary
        run: |
          REPORT_URL="${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
          echo "###Allure Report Available" >> $GITHUB_STEP_SUMMARY
          echo "[Click to open Allure Report]($REPORT_URL)" >> $GITHUB_STEP_SUMMARY